{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

    <div class='container'>
    <h1>Modifier la tâche</h1>
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description)}}
            {# {{ form_row(form.is_done)}} #}
            <button>{{button_label|default('Modifier')}}</button>
        {{ form_end(form) }}
        <button><a href="{{path('app_task')}}">Retour à la liste des tâches</a></button>
    </div>
{% endblock %}