{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

 {# {% for task in tasks  %}
    {{task.title}}
    {{task.description}}
    {% if task.isdone = "false" %}
        {{En cours}}
    {% else %}
        {{terminé}}
    {% endif %}
{% endfor %} #}


<div class='container'>
    <table class="table table-bordered">
        <thead>
            <tr>    
                <th>Tâche</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>placeholder pour is done </td>
                <td>
                    <a href="{{ path('app_edit', {'id': task.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="#" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
        <tr>
        <td>Pas de tâche enregistré </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_new') }}" class="btn btn-success">Nouvelle tâche</a>

</div>

{% endblock %}
